.time{
    position: absolute;
    height: 200px;
    width: 200px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider{
    position: relative;
}

.close-icon{
    align-self: flex-end;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}